<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <title>{% block title %}{% endblock %} - Your Website</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2018 by <a href="{{ base_url() }}">www.yourdomain.com</a>.
            {% endblock %}
        </div>
    </body>
</html>